<!-- SIDEBAR -->
<section id="sidebar">
    <a routerLink="/customer-dashbord" class="brand">
      <span class="text txtmargin"  >DASHBORD</span>
    </a>
    <ul class="side-menu top">
      <li class="active text_marging_left">
        <a routerLink="/customer-dashbord">
          <i></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu top">
        <li class="active text_marging_left">
          <a routerLink="/" class="logout">
            <i></i>
            <span class="text">Log Out</span>
          </a>
        </li>
    </ul>

  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class='bx bx-menu' ></i>
    
      <form action="#">
      </form>
      <a  class="notification">
        <i class='bx bxs-bell' ></i>
        <span class="num">8</span>
      </a>
      <a  class="profile">
        <img src="assets/img/people.png">
      </a>
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a >Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" routerLink="/customer-dashbord">Home</a>
            </li>
          </ul>
        </div>
        <a  class="btn-download">
          <i class='bx bxs-cloud-download' ></i>
          <span class="text">Download PDF</span>
        </a>
      </div>
  
      <ul class="box-info">
        <li>
          <i class='bx bxs-calendar-check' ></i>
          <span class="text">
            <h3>1020</h3>
            <p>New Order</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-group' ></i>
          <span class="text">
            <h3>2834</h3>
            <p>Visitors</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>$2543</h3>
            <p>Total Sales</p>
          </span>
        </li>
      </ul>
        <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Orders</h3>
          </div>
        </div>
        <div class="todo">
          <div class="head">
            <h3>Todos</h3>
          </div>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->