<app-manager-sidebar></app-manager-sidebar>
<app-manager-header></app-manager-header>
<app-manager-footer></app-manager-footer>
<main id="main" class="main">
   <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
         </ol>
      </nav>
   </div>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Datatables</h5>
                  <p>Add lightweight datatables to your project.</p>
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">ID</th>
                           <th scope="col">NIC</th>
                           <th scope="col">Phone Number</th>
                           <th scope="col">Registration Number</th>
                           <th scope="col">Start Date</th>
                           <th scope="col">Type</th>
                           <th scope="col">Fuel</th>
                           <th scope="col">States</th>
                           <th scope="col">Activate</th>
                           <th scope="col">Delete</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let dt of dataSource">
                           <th scope="row">{{dt.id}}</th>
                           <td>{{dt.nicNumber}}</td>
                           <td>{{dt.phoneNumber}}</td>
                           <td>{{dt.vehicalRegNumber}}</td>
                           <td>{{dt.vehicalName}}</td>
                           <td>{{dt.fuelQuantity}}</td>
                           <td>{{dt.fuelName}}</td>
                           <td>{{dt.statest}}</td>
                           <td><button type="button" class="btn btn-primary btn-sm" (click)="Deactivate(dt.id)">Activate</button></td>
                           <td><button type="button" class="btn btn-primary btn-sm" (click)="test(dt.id)">Delete</button></td>

                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>