
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Mono:wght@500&display=swap');

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  body {
    background-color: rgb(24, 47, 63);
  }
  
  mat-form-field {
    display: block;
  }
  button{
    margin-left: 1rem;
  }
  .frm-backgroun{
    background-color: rgb(90, 186, 186);
  }
  .btn-backgroun-color{
    background-color: rgb(73, 34, 108);
  }
  .titel-font-size{
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    
  }
  .space{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }