<body>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      </div>  
    </mat-toolbar>

    
  
    <mat-card  class="frm-backgroun">
      <mat-card-content >
        <!-- sing in form -->
        <form  (ngSubmit)="Submint()" name="SingInForm" [formGroup]="SingInForm">
          
          <div class="space">
            <a class="titel-font-size">Vehicle Details</a>
          </div>       
          <mat-form-field>
            <input matInput type="text" formControlName="nic_number" placeholder="NIC Number"  name="nic" required >
            <mat-error >
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="Phone_Number" placeholder="Phone Number"  name="phone_number" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="v_r_number" placeholder="Vehicle Registration Number" name="v_r_number" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="v_c_number" placeholder="Vehicle Chassis Number"  name="v_c_number" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Vehical Type</mat-label>
            <mat-select >
              <mat-option *ngFor="let VehicalType of VehicalType" [value]="VehicalType.vehicalType_Id">
                {{VehicalType.vehical_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          <mat-form-field appearance="fill">
            <mat-label>Fuel Station</mat-label>
            <mat-select  #clientValue  (selectionChange)="changeClient($event.value)">
              <mat-option *ngFor="let fuelStation of FuelStation" [value]="fuelStation.id">
                {{fuelStation.fuelStationCode}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          

          
          
          <button mat-raised-button color="primary" type="submit" [disabled]="!SingInForm.valid" >Sing Up</button>
        </form>
       
      </mat-card-content>
  
    </mat-card>
  </body>
  