<body>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
     
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      </div>
      
    </mat-toolbar>
  
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item routerLink="/game">
        <mat-icon>gamepad</mat-icon>
        Play
      </button>
      <button mat-menu-item routerLink="/login" >
        <mat-icon>power_settings_new</mat-icon>
        Login
      </button>
      <button mat-menu-item >
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-menu>
  
    <mat-card  class="frm-backgroun">


      <mat-card-content >
        <form #loginForm="ngForm" >
          <div class="space">
            <a class="titel-font-size">Vehicle Details</a>
          </div>
          
          <mat-form-field>
            <input matInput type="text" placeholder="NIC Number"  name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Phone Number"  name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Email"  name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Vehicle Registration Number" name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Vehicle Chassis Number"  name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
          
          <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" routerLink="Sing-up">Sing Up</button>
        </form>
      </mat-card-content>
  
    </mat-card>
  </body>
  